:root {
  --century-gothic-font: 'Century Gothic';
  --container-w: 1434px;
  --jn-yellow: #FFCE08;
  --jn-ochre: #FFA60B;
  --jn-orange: #FF760E;
  --jn-black: #141416;
  --jn-gray: #D9D9D9;
  --jn-gray-dark: #B7B7B7;
}

@theme {
  --font-century-gothic: var(--century-gothic-font), sans-serif;
  --container-w: var(--container-w);
  --color-jn-yellow: var(--jn-yellow);
  --color-jn-ochre: var(--jn-ochre);
  --color-jn-orange: var(--jn-orange);
  --color-jn-black: var(--jn-black);
  --color-jn-gray: var(--jn-gray);
  --color-jn-gray-dark: var(--jn-gray-dark);
}