.wp-block-journeyo-hero-section {
  overflow: hidden;
  position: relative;
  padding: 0 16px;

  @media (min-width: 768px) {
    padding: 0 20px;
  }

  &__wrap-out {
    max-width: 1620px;
    margin: 30px auto 0;
    position: relative;
    padding: 110px 20px 9vw;

    @media(min-width: 1200px) {
      padding: 200px 20px 11vw;
    }

    @media(min-width: 1680px) {
      padding: 195px 20px 215px;
    }
  }

  &__bg {
    width: 100%;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;

    svg {
      display: block;
      width: 100%;
      max-width: 100%;

      path {
        fill: var(--jn-yellow);
      }
    }
  }

  &__wrap {
    max-width: var(--container-w);
    margin: 0 auto;
    position: relative;
    z-index: 20;
  }

  &__header {
    padding: 20px 16px;
    position: absolute;
    left: 50%;
    top: 25px;
    transform: translateX(-50%);
    z-index: 1000;
    width: 100%;

    @media (min-width: 768px) {
      padding: 20px 40px;
    }

    @media(min-width: 1200px) {
      top: 46px;
    }

    &-wrap {
      max-width: var(--container-w);
      margin: 0 auto;
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
    }

    &-logo {
      width: 15vw;

      @media(min-width: 1480px) {
        width: auto;
      }

      figure {
        margin: 0;
      }

      img {
        max-width: 100%;
        display: block;
        width: auto;
        height: auto;
      }
    }

    &-button {
      background-color: var(--jn-black);
      border-radius: 30px;
      display: flex;
      align-items: center;
      cursor: pointer;
      color: #fff;
      padding: 18px 50px;
      column-gap: 10px;
      font-size: 16px;
      line-height: 18px;
      user-select: none;
    }

    &-right {
      display: flex;
      align-items: center;
      column-gap: 16px;
    }

    &-langs {
      position: relative;
      cursor: pointer;

      .wpml-flag {
        height: auto;
      }

      &.active {

        .wp-block-journeyo-hero-section__header-langs-list-wrap {
          max-height: 300px;
        }

        .wp-block-journeyo-hero-section__header-langs-list {
          opacity: 1;
        }

        .wp-block-journeyo-hero-section__header-langs-active {
          border-radius: 6px 6px 0 0;
        }
      }

      &-active {
        background-color: #fff;
        border-radius: 6px;
        padding: 4px 10px;
        display: flex;
        align-items: center;
        column-gap: 6px;
        font-weight: bold;
        border: 1px solid var(--jn-gray-dark);
      }

      &-list {
        opacity: 0;

        &-wrap {
          position: absolute;
          overflow: hidden;
          transition: all ease .3s;
          max-height: 0;
        }

        a {
          padding: 4px 10px;
          display: flex;
          align-items: center;
          column-gap: 6px;
          font-weight: bold;
          background-color: #fff;
          border-left: 1px solid var(--jn-gray-dark);
          border-right: 1px solid var(--jn-gray-dark);

          &:hover {
            background-color: var(--jn-gray);
          }

          &:last-child {
            border-radius: 0 0 6px 6px;
            border-bottom: 1px solid var(--jn-gray-dark);
          }
        }
      }
    }
  }

  &__content {
    position: relative;
    width: 100%;

    &-image {
      position: absolute;
      z-index: 10;
      right: auto;
      top: -30px;
      left: 49vw;
      width: 48vw;

      @media(min-width: 1200px) {
        top: -119px;
        left: 43vw;
        width: 53.63vw;
      }

      @media(min-width: 1680px) {
        left: auto;
        right: -11.92%;
        width: 62.83%;
      }
      //transform: translateY(300px) scale(.85);
      //opacity: 0;
      //animation: floatUpImg 1.2s forwards .7s;
    }

    &-text {
      position: relative;
      z-index: 20;
      max-width: 65%;

      @media(min-width: 1200px) {
        max-width: 62.06%;
      }
    }
  }

  &__title {
    margin-top: 0;
    font-weight: bold;
    //transform: translateY(300px);
    //opacity: 0;
    //animation: floatUp 1.2s forwards;
    line-height: 1.05;
    margin-bottom: 30px;
    font-size: 4.6vw;

    @media(min-width: 1200px) {
      font-size: 4.285vw;
    }

    @media(min-width: 1680px) {
      font-size: 72px;
    }
  }

  &__text {
    //transform: translateY(300px);
    //opacity: 0;
    //animation: floatUp 1.2s forwards .4s;
    margin: 0;
    line-height: 1.26;
    max-width: 90%;
    font-size: 2.1vw;

    @media(min-width: 1200px) {
      max-width: 85%;
      font-size: 1.78vw;
    }

    @media(min-width: 1680px) {
      font-size: 30px;
    }
  }

  &__buttons {
    margin-top: 30px;
    display: flex;
    align-items: center;
    column-gap: 5.61%;

    a {
      //transform: translateY(300px);
      //opacity: 0;
      width: 30%;

      @media(min-width: 1200px) {
        width: auto;
      }

      svg {
        display: block;
        width: auto;
        max-width: 100%;
        height: auto;
      }

      &:first-child {
        //animation: floatUpBtn 1.4s forwards .65s;
      }

      &:last-child {
        //animation: floatUpBtn 1.4s forwards .85s;
      }
    }
  }
}

@keyframes floatUp {
  0% {
    transform: translateY(300px);
    opacity: 0;
  }
  60% {
    transform: translateY(-30px);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes floatUpBtn {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  60% {
    transform: translateY(-5px);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes floatUpImg {
  0% {
    transform: translateY(300px) scale(.85);
    opacity: 0;
  }
  60% {
    transform: translateY(-30px) scale(.95);
  }
  80% {
    transform: translateY(10px) scale(1.05);
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}