.wp-block-journeyo-hero-section {
  overflow: hidden;
  position: relative;
  max-width: unset !important;
  padding: 0 16px;

  @media (min-width: 768px) {
    padding: 0 20px;
  }

  &__wrap-out {
    max-width: 1620px;
    margin: 30px auto 0;
    position: relative;
    padding: 195px 20px 215px;
  }

  &__bg {
    width: 100%;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;

    svg {
      display: block;
      width: 100%;
      max-width: 100%;

      path {
        fill: var(--jn-yellow);
      }
    }
  }

  &__wrap {
    max-width: var(--container-w);
    margin: 0 auto;
    position: relative;
    z-index: 20;
  }

  &__header {
    padding: 20px 16px;
    position: absolute;
    left: 50%;
    top: 46px;
    transform: translateX(-50%);
    z-index: 1000;
    width: 100%;

    @media (min-width: 768px) {
      padding: 20px 40px;
    }

    &-wrap {
      max-width: var(--container-w);
      margin: 0 auto;
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
    }

    &-logo {}

    &-button {
      background-color: var(--jn-black);
      border-radius: 30px;
      display: flex;
      align-items: center;
      cursor: pointer;
      color: #fff;
      padding: 18px 50px;
      column-gap: 10px;
      font-size: 16px;
      line-height: 18px;
      user-select: none;
    }
  }

  &__content {
    position: relative;
    width: 100%;

    &-image {
      position: absolute;
      z-index: 10;
      top: -119px;
      left: auto;
      right: -171px;
      //transform: translateY(300px) scale(.85);
      //opacity: 0;
      //animation: floatUpImg 1.2s forwards .7s;
    }

    &-text {
      position: relative;
      z-index: 20;
      max-width: 890px;
    }
  }

  &__title {
    margin-top: 0;
    font-weight: bold;
    //transform: translateY(300px);
    //opacity: 0;
    //animation: floatUp 1.2s forwards;
    margin-bottom: 30px;
    font-size: 72px;
    line-height: 1.05;
  }

  &__text {
    //transform: translateY(300px);
    //opacity: 0;
    //animation: floatUp 1.2s forwards .4s;
    margin: 0;
    font-size: 30px;
    line-height: 1.26;
  }

  &__buttons {
    margin-top: 30px;
    display: flex;
    align-items: center;
    column-gap: 50px;

    a {
      //transform: translateY(300px);
      //opacity: 0;

      &:first-child {
        //animation: floatUpBtn 1.4s forwards .65s;
      }

      &:last-child {
        //animation: floatUpBtn 1.4s forwards .85s;
      }
    }
  }
}

@keyframes floatUp {
  0% {
    transform: translateY(300px);
    opacity: 0;
  }
  60% {
    transform: translateY(-30px);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes floatUpBtn {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  60% {
    transform: translateY(-5px);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes floatUpImg {
  0% {
    transform: translateY(300px) scale(.85);
    opacity: 0;
  }
  60% {
    transform: translateY(-30px) scale(.95);
  }
  80% {
    transform: translateY(10px) scale(1.05);
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}