.wp-block-journeyo-hero-section {
  overflow: hidden;
  position: relative;
  margin-bottom: 40px;

  @media (min-width: 768px) {
    padding: 0 20px;
    margin-bottom: 50px;
  }

  @media(min-width: 1024px) {
    margin-bottom: 0;
  }

  &__wrap-out {
    max-width: 1620px;
    position: relative;
    margin: 0 auto;
    padding: 90px 20px 20px;
    background-color: var(--jn-yellow);
    border-radius: 0 0 5vw 5vw;

    @media (min-width: 768px) {
      padding: 100px 20px 20px;
      border-radius: 3.5vw 3.5vw 10vw 10vw;
      margin: 20px auto 0;
    }

    @media(min-width: 1024px) {
      padding: 110px 20px 9vw;
      margin: 30px auto 0;
      background-color: transparent;
      border-radius: 0;
    }

    @media(min-width: 1200px) {
      padding: 200px 20px 11vw;
    }

    @media(min-width: 1680px) {
      padding: 195px 20px 215px;
    }
  }

  &__bg {
    display: none;

    @media(min-width: 1024px) {
      width: 100%;
      position: absolute;
      z-index: 10;
      left: 0;
      top: 0;
      display: block;
    }

    svg {
      display: block;
      width: 100%;
      max-width: 100%;

      path {
        fill: var(--jn-yellow);
      }
    }
  }

  &__wrap {
    max-width: var(--container-w);
    margin: 0 auto;
    position: relative;
    z-index: 20;
  }

  &__header {
    transition: all ease-in-out .3s;
    padding: 8px 16px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 100%;

    @media (min-width: 768px) {
      top: 25px;
      padding: 20px 40px;
    }

    @media(min-width: 1200px) {
      top: 46px;
    }

    .jn-color-header-logo {
      display: none;
    }

    .jn-base-header-logo {
      display: block;
    }

    &.jn-scrolled {
      position: fixed;
      background-color: #fff;
      border-bottom: 1px solid var(--jn-gray-dark);
      top: 0;
      padding: 16px 18px;
      animation: headerFix 1s forwards;
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, .25);

      @media(min-width: 1024px) {
        padding: 20px 34px;
      }

      .jn-color-header-logo {
        display: block;
      }

      .jn-base-header-logo {
        display: none;
      }
    }

    &.jn-out {
      transform: translateY(-130%) translateX(-50%);
    }

    &-wrap {
      max-width: var(--container-w);
      margin: 0 auto;
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
    }

    &-logo {
      width: 125px;
      position: relative;
      z-index: 20;

      @media (min-width: 768px) {
        width: 18vw;
      }

      @media(min-width: 1024px) {
        width: 15vw;
      }

      @media(min-width: 1480px) {
        width: auto;
      }

      figure {
        margin: 0;
      }

      img {
        max-width: 100%;
        display: block;
        width: auto;
        height: auto;
      }
    }

    .mob-burger-btn {
      width: 20px;
      height: 16px;
      position: relative;
      display: block;
      z-index: 20;

      @media (min-width: 768px) {
        display: none;
      }

      &-bottom,
      &-center,
      &-top {
        background-color: #000;
        transition: all ease-in-out .3s;
        position: absolute;
        left: 50%;
        width: 100%;
        height: 2px;
        display: block;
        max-width: 100%;
        border-radius: 100%;
      }

      &-bottom,
      &-top {
        transform: translateX(-50%);
      }

      &-top {
        top: 0;
      }

      &-bottom {
        top: auto;
        bottom: 0;
      }

      &-center {
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
      }
    }

    &-button {
      background-color: var(--jn-black);
      border-radius: 30px;
      display: flex;
      align-items: center;
      cursor: pointer;
      color: #fff;
      column-gap: 10px;
      font-size: 16px;
      line-height: 18px;
      user-select: none;
      padding: 14px 30px;
      justify-content: center;
      margin-bottom: 30px;
      margin-top: 80px;
      width: 100%;

      @media (min-width: 768px) {
        justify-content: flex-start;
        margin-bottom: 0;
        margin-top: 0;
        padding: 12px 30px;
        width: auto;
      }

      @media(min-width: 1024px) {
        padding: 18px 50px;
      }
    }

    &-right {
      z-index: 10;
      position: absolute;
      background-color: #fff;
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      padding: 0 16px;
      opacity: 0;
      max-height: 0;
      transition: all ease-in-out .3s;
      transform: translateY(-130vh);

      @media (min-width: 768px) {
        overflow: unset;
        opacity: 1;
        max-height: unset;
        transform: unset;
        padding: 0;
        display: flex;
        align-items: center;
        column-gap: 16px;
        background-color: transparent;
        position: relative;
        left: auto;
        top: auto;
        width: auto;
        height: auto;
      }
    }

    &-langs {
      position: relative;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 10px;

      @media (min-width: 768px) {
        display: block;
      }

      .wpml-flag {
        height: auto;
      }

      @media (min-width: 768px) {

        &.active {

          .wp-block-journeyo-hero-section__header-langs-list-wrap {
            max-height: 300px;
          }

          .wp-block-journeyo-hero-section__header-langs-list {
            opacity: 1;
          }

          .wp-block-journeyo-hero-section__header-langs-active {
            border-radius: 6px 6px 0 0;
          }
        }
      }

      &-active {
        background-color: var(--jn-gray);
        border-radius: 6px;
        padding: 4px 10px;
        display: flex;
        align-items: center;
        column-gap: 6px;
        font-weight: bold;
        border: 1px solid var(--jn-gray-dark);

        @media (min-width: 768px) {
          background-color: #fff;
        }
      }

      &-list {
        display: flex;
        align-items: center;
        column-gap: 10px;

        @media (min-width: 768px) {
          display: block;
          opacity: 0;
        }

        &-wrap {

          @media (min-width: 768px) {
            position: absolute;
            overflow: hidden;
            transition: all ease .3s;
            max-height: 0;
          }
        }

        a {
          padding: 4px 10px;
          display: flex;
          align-items: center;
          column-gap: 6px;
          font-weight: bold;
          background-color: #fff;
          border: 1px solid var(--jn-gray-dark);
          border-radius: 6px;

          @media (min-width: 768px) {
            border-radius: 0;
            border-left: 1px solid var(--jn-gray-dark);
            border-right: 1px solid var(--jn-gray-dark);
            border-bottom: 0;
            border-top: 0;

            &:hover {
              background-color: var(--jn-gray);
            }

            &:last-child {
              border-radius: 0 0 6px 6px;
              border-bottom: 1px solid var(--jn-gray-dark);
            }
          }
        }
      }
    }
  }

  &__content {
    position: relative;
    width: 100%;

    &-image {
      z-index: 10;
      position: relative;
      right: auto;
      top: auto;
      left: auto;
      width: 90%;
      margin: 0 auto;

      @media (min-width: 768px) {
        width: 80%;
      }

      @media(min-width: 1024px) {
        margin: 0;
        position: absolute;
        top: -30px;
        left: 49vw;
        width: 48vw;
      }

      @media(min-width: 1200px) {
        top: -119px;
        left: 43vw;
        width: 53.63vw;
      }

      @media(min-width: 1680px) {
        left: auto;
        right: -11.92%;
        width: 62.83%;
      }
      //transform: translateY(300px) scale(.85);
      //opacity: 0;
      //animation: floatUpImg 1.2s forwards .7s;
    }

    &-text {
      position: relative;
      z-index: 20;
      max-width: 95%;

      @media(min-width: 1024px) {
        max-width: 65%;
      }

      @media(min-width: 1200px) {
        max-width: 62.06%;
      }
    }
  }

  &__title {
    margin-top: 0;
    font-weight: bold;
    //transform: translateY(300px);
    //opacity: 0;
    //animation: floatUp 1.2s forwards;
    line-height: 1.05;
    margin-bottom: 30px;
    font-size: 8vw;

    @media (min-width: 768px) {
      font-size: 5vw;
    }

    @media(min-width: 1024px) {
      font-size: 4.6vw;
    }

    @media(min-width: 1200px) {
      font-size: 4.285vw;
    }

    @media(min-width: 1680px) {
      font-size: 72px;
    }
  }

  &__text {
    //transform: translateY(300px);
    //opacity: 0;
    //animation: floatUp 1.2s forwards .4s;
    margin: 0;
    line-height: 1.26;
    font-size: 4.5vw;

    br {
      display: none;
    }

    @media (min-width: 768px) {
      font-size: 2.5vw;
      max-width: 80%;
    }

    @media(min-width: 1024px) {
      font-size: 2.1vw;

      br {
        display: block;
      }
    }

    @media(min-width: 1200px) {
      max-width: 85%;
      font-size: 1.78vw;
    }

    @media(min-width: 1680px) {
      font-size: 30px;
    }
  }

  &__buttons {
    margin-top: 30px;
    display: flex;
    align-items: center;
    column-gap: 5.61%;
    margin-bottom: 20px;

    @media (min-width: 768px) {
      margin-bottom: 0;
    }

    a {
      //transform: translateY(300px);
      //opacity: 0;


      @media (min-width: 768px) {
        width: 30%;
      }

      @media(min-width: 1200px) {
        width: auto;
      }

      svg {
        display: block;
        width: auto;
        max-width: 100%;
        height: auto;
      }

      &:first-child {
        //animation: floatUpBtn 1.4s forwards .65s;
      }

      &:last-child {
        //animation: floatUpBtn 1.4s forwards .85s;
      }
    }
  }
}

@keyframes floatUp {
  0% {
    transform: translateY(300px);
    opacity: 0;
  }
  60% {
    transform: translateY(-30px);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes floatUpBtn {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  60% {
    transform: translateY(-5px);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes floatUpImg {
  0% {
    transform: translateY(300px) scale(.85);
    opacity: 0;
  }
  60% {
    transform: translateY(-30px) scale(.95);
  }
  80% {
    transform: translateY(10px) scale(1.05);
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

body.mob-menu-active {
  overflow: hidden;

  .wp-block-journeyo-hero-section__header-right {
    opacity: 1;
    max-height: 120vh;
    transform: translateY(0);
  }

  .mob-burger-btn {

    &-center {
      max-width: 0;
    }

    &-top {
      top: 50%;
      transform: translate(-50%, -50%) rotate(135deg);
    }

    &-bottom {
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}

.admin-bar {
  .wp-block-journeyo-hero-section__header {

    @media(min-width: 1024px) {
      &.jn-scrolled {
        top: 32px;
      }
    }
  }
}

@keyframes headerFix {
  0% {
    opacity: 0;
  }

  99% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}