.wp-block-journeyo-benefits-section {
  overflow: hidden;
  position: relative;
  padding: 0 16px;

  @media (min-width: 768px) {
    padding: 0 20px;
  }

  &__wrap {
    max-width: var(--container-w);
    margin: 0 auto;
  }

  &__title {
    background: linear-gradient(90deg, var(--jn-yellow) 0%, var(--jn-orange) 99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    color: var(--jn-orange);
    width: fit-content;
    font-weight: bold;
    line-height: 1.2;
    margin: 0 auto 4vw;
    font-size: 7vw;

    @media (min-width: 768px) {
      margin: 0 auto 3.5vw;
      font-size: 5vw;
    }

    @media(min-width: 1024px) {
      margin: 0 auto 3.378vw;
      font-size: 4.324vw;
    }

    @media(min-width: 1480px) {
      margin: 0 auto 50px;
      font-size: 64px;
    }
  }

  &__subtitle {
    text-align: center;
    line-height: 1.12;
    margin-top: 0;
    color: var(--jn-gray-dark);
    margin-bottom: 4vw;
    font-size: 4.5vw;

    @media (min-width: 768px) {
      margin-bottom: 3.378vw;
      font-size: 3.2vw;
    }

    @media(min-width: 1024px) {
      font-size: 2.7vw;
    }

    @media(min-width: 1480px) {
      margin-bottom: 50px;
      font-size: 40px;
    }
  }

  &__items {
    display: grid;
    gap: 2.027vw;

    @media (min-width: 768px) {
      grid-template-columns: repeat(8, 1fr);
    }

    @media(min-width: 1024px) {
      grid-template-columns: repeat(12, 1fr);
    }

    @media(min-width: 1480px) {
      gap: 30px;
    }

    &.jn-cols-3 {

      @media (min-width: 768px) {
        grid-template-columns: repeat(4, 1fr);
      }

      @media(min-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
      }

      .wp-block-journeyo-benefits-section__item {

        @media (min-width: 768px) {
          grid-column: span 2;
        }

        @media(min-width: 1024px) {
          grid-column: span 1;
        }

        &:last-child {

          @media (min-width: 768px) {
            grid-column-start: 2;
            grid-column-end: 4;
          }

          @media(min-width: 1024px) {
            grid-column-start: unset;
            grid-column-end: unset;
          }
        }
      }
    }

    &.jn-cols-4 {

      @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media(min-width: 1024px) {
        grid-template-columns: repeat(6, 1fr);
      }

      .wp-block-journeyo-benefits-section__item {

        @media(min-width: 1024px) {
          grid-column: span 2;

          &:last-child {
            grid-column-start: 3;
            grid-column-end: 5;
          }
        }
      }
    }

    &.jn-cols-5 {

      @media (min-width: 768px) {
        grid-template-columns: repeat(8, 1fr);
      }

      @media(min-width: 1024px) {
        grid-template-columns: repeat(12, 1fr);
      }

      .wp-block-journeyo-benefits-section__item {

        @media (min-width: 768px) {
          grid-column: span 4;
        }

        &:nth-last-child(2) {

          @media(min-width: 1024px) {
            grid-column-start: 3;
            grid-column-end: 7;
          }
        }

        &:last-child {

          @media (min-width: 768px) {
            grid-column-start: 3;
            grid-column-end: 7;
          }

          @media(min-width: 1024px) {
            grid-column-start: 7;
            grid-column-end: 11;
          }
        }
      }
    }
  }

  &__item {
    container-type: inline-size;
    container-name: benefits-item;
    position: relative;
    text-align: center;
    $border: 3px;
    background-clip: padding-box;
    border: solid $border transparent;
    border-radius: 5vw;
    margin-top: 3.5vw;
    padding: 18.92vw 4.04vw 5.4vw;

    @media (min-width: 768px) {
      border-radius: 3.378vw;
      margin-top: 1.621vw;
      padding: 9.46vw 2.02vw 2.7vw;
    }

    @media(min-width: 1480px) {
      margin-top: 24px;
      padding: 140px 30px 40px;
      border-radius: 50px;
    }

    &:before {
      content: '';
      position: absolute;
      inset: -$border;
      z-index: 1;
      border-radius: inherit;
      background: linear-gradient(225deg, var(--jn-orange) 38%, var(--jn-yellow) 89%);
    }

    &:after {
      content: '';
      position: absolute;
      inset: 0;
      z-index: 1;
      background-color: #fff;
      border-radius: inherit;
    }

    &-content {
      position: relative;
      z-index: 10;
    }

    &-title {
      margin-top: 0;
      line-height: 1.2;
      font-weight: bold;
      font-size: 5vw;
      margin-bottom: 3.5vw;

      @media (min-width: 768px) {
        font-size: 3vw;
        margin-bottom: 1.5vw;
      }

      @media(min-width: 1024px) {
        font-size: 2.364vw;
        margin-bottom: 0.81vw;
      }

      @media(min-width: 1480px) {
        margin-bottom: 12px;
        font-size: 35px;
      }
    }

    &-subtitle {
      margin: 0;
      line-height: 1.26;
      font-size: 4.3vw;

      @media (min-width: 768px) {
        font-size: 2.5vw;
      }

      @media(min-width: 1024px) {
        font-size: 2.027vw;
      }

      @media(min-width: 1480px) {
        font-size: 30px;
      }
    }

    &-icon {
      position: absolute;
      z-index: 20;
      background: var(--jn-orange);
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      left: auto;
      margin: 0;
      width: 18.92vw;
      height: 18.92vw;
      top: -3.242vw;
      right: -1.89vw;

      @media (min-width: 768px) {
        top: -1.621vw;
        right: -.945vw;
        width: 9.46vw;
        height: 9.46vw;
      }

      @media(min-width: 1480px) {
        width: 35.71cqw;
        height: 35.71cqw;
        top: -6.12cqw;
        right: -3.57cqw;

        @supports not (width: 1cqw) {
          width: 140px;
          height: 140px;
          top: -24px;
          right: -14px;
        }
      }

      img {
        max-width: 54.68%;
      }
    }

    &-icon-white-border {
      position: absolute;
      z-index: 18;
      left: auto;
      border: 3px solid var(--jn-orange);
      background-color: #fff;
      border-radius: 100%;
      width: 23.108vw;
      height: 23.108vw;
      top: -5.134vw;
      right: -3.78vw;

      @media (min-width: 768px) {
        width: 11.554vw;
        height: 11.554vw;
        top: -2.567vw;
        right: -1.89vw;
      }

      @media(min-width: 1480px) {
        width: 43.62cqw;
        height: 43.62cqw;
        top: -9.69cqw;
        right: -7.14cqw;

        @supports not (font-size: 1cqw) {
          width: 171px;
          height: 171px;
          top: -38px;
          right: -28px;
        }
      }
    }

    &-icon-helper-top {
      position: absolute;
      z-index: 19;
      top: auto;
      bottom: 100%;
      transform: translateY(-3px);
      left: auto;
      width: 50%;
      background-color: #fff;
      right: -5.4vw;
      height: 5.4vw;

      @media (min-width: 768px) {
        right: -2.7vw;
        height: 2.7vw;
      }

      @media(min-width: 1480px) {
        right: -40px;
        height: 40px;
      }
    }

    &-icon-helper-right {
      position: absolute;
      z-index: 19;
      transform: translateX(3px);
      left: 100%;
      background-color: #fff;
      height: 50%;
      top: -5.4vw;
      width: 4.054vw;

      @media (min-width: 768px) {
        top: -2.7vw;
        width: 2.027vw;
      }

      @media(min-width: 1480px) {
        top: -40px;
        width: 30px;
      }
    }
  }
}