@use 'base/variables';

.is-root-container,
.is-root-container * {
  font-family: var(--century-gothic-font), sans-serif;
  color: var(--jn-black);

  .components-button {
    height: auto !important;
  }

  .journeyo-admin-button {
    background-color: var(--jn-black);
    color: #fff;
    border-radius: 8px;
    font-size: 16px;
    padding: 10px 16px;
    display: block;
    width: fit-content;
    border: none;
    height: auto;
    justify-self: center;
    align-self: center;

    &:hover {
      color: #fff !important;
      background-color: rgba(0, 0, 0, .75) !important;
    }
  }
}