@use "base/variables";

@import "tailwindcss/index.css";

html,
body,
*:before,
*:after {
  font-family: var(--century-gothic-font), sans-serif;
}

.wpml-ls-statics-footer {
  display: none!important;
}

.jn-visually-hidden {
  position: absolute;
  z-index: -100;
  clip: rect(0 0 0 0);
  opacity: 0;
}