@font-face {
    font-family: 'Century Gothic';
    font-display: swap;
    font-weight: 400;
    font-style: normal;
    src: url('./centurygothic.woff2') format('woff2'),
    url('./centurygothic.woff') format('woff'),
    url('./centurygothic.ttf') format('truetype'),
    url('./centurygothic.otf') format('opentype'),
    url('./centurygothic.eot?#iefix') format('embedded-opentype');
}

@font-face {
    font-family: 'Century Gothic';
    font-display: swap;
    font-weight: 700;
    font-style: normal;
    src: url('./centurygothic_bold.woff2') format('woff2'),
    url('./centurygothic_bold.woff') format('woff'),
    url('./centurygothic_bold.ttf') format('truetype'),
    url('./centurygothic_bold.otf') format('opentype'),
    url('./centurygothic_bold.eot?#iefix') format('embedded-opentype');
}