.wp-block-journeyo-plan-section {
  overflow: hidden;
  position: relative;
  background-color: var(--jn-orange);
  padding: 40px 16px;
  margin: 40px 0;

  @media (min-width: 768px) {
    margin: 70px 0;
    padding: 70px 20px;
  }

  &__wrap {
    max-width: var(--container-w);
    margin: 0 auto;
  }

  &__title {
    color: #fff !important;
    text-align: center;
    line-height: 1.1;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 4vw;
    font-size: 7vw;

    @media (min-width: 768px) {
      margin-bottom: 3.5vw;
      font-size: 5vw;
    }

    @media(min-width: 1024px) {
      margin: 0 auto 3.378vw;
      font-size: 4.324vw;
    }

    @media(min-width: 1480px) {
      margin-bottom: 50px;
      font-size: 64px;
    }
  }

  &__subtitle {
    color: #fff !important;
    margin-top: 0;
    line-height: 1.12;
    text-align: center;
    margin-bottom: 4.5vw;
    font-size: 4vw;

    @media (min-width: 768px) {
      margin-bottom: 3.5vw;
      font-size: 3.2vw;
    }

    @media(min-width: 1024px) {
      margin-bottom: 2.027vw;
      font-size: 2.7vw;
    }

    @media(min-width: 1480px) {
      margin-bottom: 30px;
      font-size: 40px;
    }
  }

  &__items {
    position: relative;
    padding: 90px 0;

    @media (min-width: 768px) {
      padding: 0;
    }

    &-bg {
      position: absolute;
      z-index: 10;
      height: auto;
      width: 1000px;
      max-width: unset;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(90deg);

      @media (min-width: 768px) {
        transform: unset;
        top: auto;
        left: auto;
        width: 100%;
        max-width: 100%;
        position: relative;
      }
    }

    &-wrap {
      position: relative;
      z-index: 20;
      width: 100%;
      display: grid;
      align-items: start;
      container-type: inline-size;
      container-name: section-plan-content;
      row-gap: 200px;

      @media (min-width: 768px) {
        row-gap: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  &__item {
    justify-self: center;
    text-align: center;
    max-width: 240px;

    @media (min-width: 768px) {
      max-width: 70.29%;

      &:nth-child(2) {
        transition-delay: .2s;
      }

      &:nth-child(3) {
        transition-delay: .4s;
      }
    }

    &-title {
      margin-top: 0;
      font-weight: bold;
      line-height: 1.2;
      font-size: 26px;
      margin-bottom: .81vw;

      @media (min-width: 768px) {
        font-size: 2.364vw;
      }

      @media(min-width: 1480px) {
        font-size: 2.44cqw;
        margin-bottom: 0.836cqw;

        @supports not (font-size: 1cqw) {
          font-size: 35px;
          margin-bottom: 12px;
        }
      }
    }

    &-subtitle {
      margin: 0;
      line-height: 1.25;
      font-size: 20px;

      @media (min-width: 768px) {
        font-size: 1.891vw;
      }

      @media(min-width: 1480px) {
        font-size: 1.952cqw;

        @supports not (font-size: 1cqw) {
          font-size: 28px;
        }
      }
    }
  }
}