.wp-block-journeyo-plan-section {
  overflow: hidden;
  position: relative;
  background-color: var(--jn-orange);
  padding: 0 16px;
  margin: 70px 0;

  @media (min-width: 768px) {
    padding: 70px 20px;
  }

  &__wrap {
    max-width: var(--container-w);
    margin: 0 auto;
  }

  &__title {
    color: #fff !important;
    text-align: center;
    line-height: 1.1;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 3.378vw;
    font-size: 4.324vw;

    @media(min-width: 1480px) {
      margin-bottom: 50px;
      font-size: 64px;
    }
  }

  &__subtitle {
    color: #fff !important;
    margin-top: 0;
    line-height: 1.12;
    text-align: center;
    margin-bottom: 2.027vw;
    font-size: 2.7vw;

    @media(min-width: 1480px) {
      margin-bottom: 30px;
      font-size: 40px;
    }
  }

  &__items {
    position: relative;

    &-br {
      position: relative;
      z-index: 10;
      width: 100%;
      max-width: 100%;
      height: auto;
    }

    &-wrap {
      position: absolute;
      z-index: 20;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: start;
      container-type: inline-size;
      container-name: section-plan-content;
    }
  }

  &__item {
    justify-self: center;
    text-align: center;
    max-width: 70.29%;

    &-title {
      margin-top: 0;
      font-weight: bold;
      line-height: 1.2;
      font-size: 2.364vw;
      margin-bottom: .81vw;

      @media(min-width: 1480px) {
        font-size: 2.44cqw;
        margin-bottom: 0.836cqw;

        @supports not (font-size: 1cqw) {
          font-size: 35px;
          margin-bottom: 12px;
        }
      }
    }

    &-subtitle {
      margin: 0;
      line-height: 1.25;
      font-size: 1.891vw;

      @media(min-width: 1480px) {
        font-size: 1.952cqw;

        @supports not (font-size: 1cqw) {
          font-size: 28px;
        }
      }
    }
  }
}