@use 'swiper/css';
@use 'swiper/css/navigation';
@use 'swiper/css/pagination';
@use 'swiper/css/autoplay';

.wp-block-journeyo-reviews-section {
  overflow: hidden;
  position: relative;
  padding: 0 16px;

  @media (min-width: 768px) {
    padding: 0 20px;
  }

  &__wrap {
    max-width: var(--container-w);
    margin: 0 auto;
  }

  &__title {
    background: linear-gradient(90deg, var(--jn-yellow) 0%, var(--jn-orange) 99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    color: var(--jn-orange);
    width: fit-content;
    font-weight: bold;
    line-height: 1.2;
    margin: 0 auto 3.5vw;
    font-size: 5vw;

    @media(min-width: 1024px) {
      margin: 0 auto 3.378vw;
      font-size: 4.324vw;
    }

    @media(min-width: 1480px) {
      margin: 0 auto 50px;
      font-size: 64px;
    }
  }

  &__items {
    padding-bottom: 4.324vw;
    overflow: hidden;
    position: relative;

    @media(min-width: 1480px) {
      padding-bottom: 64px;
    }

    &.jn-items-3 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2.027vw;

      @media(min-width: 1480px) {
        gap: 30px;
      }
    }

    &.jn-items-2 {
      display: grid;
      max-width: 946px;
      margin: 0 auto;
      grid-template-columns: repeat(2, 1fr);
      gap: 2.027vw;

      @media(min-width: 1480px) {
        gap: 30px;
      }
    }

    &.jn-items-1 {
      max-width: 458px;
      margin: 0 auto;
    }

    .wp-block-journeyo-reviews-section__pagination {
      top: auto;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      width: fit-content;

      &:before {
        position: absolute;
        z-index: 10;
        background-color: var(--jn-gray);
        width: 100%;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 2px;
        display: block;
        content: '';
      }

      .swiper-pagination-bullet {
        position: relative;
        z-index: 20;
        transition: all ease .3s;
        margin: 0 !important;
        display: block;
        width: 100%;
        height: 14px;
        border-radius: 10px;
        max-width: 30px;
        min-width: 30px;
        background-color: transparent;
        opacity: 0;
        background-image: linear-gradient(45deg, var(--jn-orange) 38%, var(--jn-yellow) 89%);

        &.swiper-pagination-bullet-active {
          opacity: 1;
          max-width: 5.945vw;
          min-width: 5.945vw;

          @media(min-width: 1480px) {
            max-width: 88px;
            min-width: 88px;
          }
        }
      }
    }
  }

  &__item {
    user-select: none;

    &-wrap {
      padding-top: 3.243vw;
      padding-bottom: 2.027vw;
      position: relative;
      container-type: inline-size;
      container-name: slide-item;

      @media(min-width: 1480px) {
        padding-top: 48px;
        padding-bottom: 30px;
      }
    }

    &-photo {
      position: absolute;
      z-index: 30;
      top: 1px;
      border-radius: 100%;
      overflow: hidden;
      border: 12px solid #fff;
      width: 12.31vw;
      height: 12.31vw;
      left: 2.9187vw;

      @media(min-width: 1200px) {
        width: 9.121vw;
        height: 9.121vw;
        left: 2.162vw;
      }

      @media(min-width: 1480px) {
        width: 29.475cqw;
        height: 29.475cqw;
        left: 6.986cqw;

        @supports not (width: 1cqw) {
          width: 135px;
          height: 135px;
          left: 32px;
        }
      }

      img {
        width: 100%;
      }

      &-helper {
        position: absolute;
        z-index: 10;
        top: 0;
        border-radius: 100%;
        border: 12px solid var(--jn-gray-dark);
        width: calc(12.495vw + 2px);
        height: calc(12.495vw + 2px);
        left: calc(2.826vw - 1px);

        @media(min-width: 1200px) {
          width: calc(9.256vw + 2px);
          height: calc(9.256vw + 2px);
          left: calc(2.094vw - 1px);
        }

        @media(min-width: 1480px) {
          width: calc(29.475cqw + 2px);
          height: calc(29.475cqw + 2px);
          left: calc(6.986cqw - 1px);

          @supports not (width: 1cqw) {
            width: 137px;
            height: 137px;
            left: 31px;
          }
        }
      }
    }

    &-quote {
      position: absolute;
      z-index: 30;
      bottom: 1px;
      left: auto;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 12px solid #fff;
      background-color: var(--jn-orange);
      width: 10.7vw;
      height: 10.7vw;
      right: 1.864vw;

      @media(min-width: 1200px) {
        width: 8.918vw;
        height: 8.918vw;
        right: 1.554vw;
      }

      @media(min-width: 1480px) {
        width: 28.82cqw;
        height: 28.82cqw;
        right: 5.02cqw;

        @supports not (width: 1cqw) {
          width: 132px;
          height: 132px;
          right: 23px;
        }
      }

      svg {
        display: block;
        max-width: 32%;
        height: auto;
        width: 100%;
      }

      &-helper {
        position: absolute;
        z-index: 10;
        bottom: 0;
        left: auto;
        border-radius: 100%;
        border: 12px solid var(--jn-gray-dark);
        width: calc(10.864vw + 2px);
        height: calc(10.864vw + 2px);
        right: calc(1.783vw - 1px);

        @media(min-width: 1200px) {
          width: calc(9.054vw + 2px);
          height: calc(9.054vw + 2px);
          right: calc(1.486vw - 1px);
        }

        @media(min-width: 1480px) {
          width: calc(28.82cqw + 2px);
          height: calc(28.82cqw + 2px);
          right: calc(5.02cqw - 1px);

          @supports not (width: 1cqw) {
            width: 134px;
            height: 134px;
            right: 22px;
          }
        }
      }
    }

    &-content {
      background-color: #fff;
      position: relative;
      z-index: 20;
      border: 1px solid var(--jn-gray-dark);
      border-radius: 2.364vw;
      padding: 1.275vw 2.797vw 7.5vw;

      @media(min-width: 1200px) {
        padding: 0.945vw 2.072vw 7.5vw;
      }

      @media(min-width: 1480px) {
        border-radius: 35px;
        padding: 14px 30px 111px;
      }
    }

    &-name {
      font-weight: bold;
      line-height: 1.33;
      font-size: 2.73vw;
      margin: 0 0 0 13.59vw;

      @media(min-width: 1200px) {
        font-size: 2.027vw;
        margin: 0 0 0 10.067vw;
      }

      @media(min-width: 1480px) {
        font-size: 6.55cqw;
        margin: 0 0 0 32.53cqw;

        @supports not (font-size: 1cqw) {
          font-size: 30px;
          margin: 0 0 0 32.53%;
        }
      }
    }

    &-location {
      line-height: 1.25;
      font-size: 1.823vw;
      margin: 0 0 0 13.59vw;

      @media(min-width: 1200px) {
        font-size: 1.351vw;
        margin: 0 0 0 10.067vw;
      }

      @media(min-width: 1480px) {
        margin: 0 0 0 32.53cqw;
        font-size: 4.366cqw;

        @supports not (font-size: 1cqw) {
          font-size: 20px;
          margin: 0 0 0 32.53%;
        }
      }
    }

    &-text {
      margin-bottom: 0;
      font-weight: bold;
      line-height: 1.12;
      margin-top: 3.378vw;
      font-size: 2.28vw;

      @media(min-width: 1200px) {
        font-size: 1.689vw;
      }

      @media(min-width: 1480px) {
        margin-top: 50px;
        font-size: 5.458cqw;

        @supports not (font-size: 1cqw) {
          font-size: 25px;
        }
      }
    }

    &-rating {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: 30px;
      column-gap: 7px;

      svg {
        display: block;
        height: auto;
        width: 25px;
      }
    }
  }
}